<jsp:include page = "header.jsp" />

<body>
<jsp:include page = "nav.jsp" />

<form name="frmCadUsuario" action="administracao.jsp" method="post" >

	idUsuario		<input type="text" 	value="0" name="idUsuario" required><br>
	email			<input type="email" 	value="" name="email" required><br>
	senha			<input type="password" 	value="" name="senha" required><br>
	idNivelUsuario	<input type="text"  	value="" name="idNivelUsuario"><br>
	nome			<input type="text" 		value="" name="nome"><br>
	cpf				<input type="text" 		value="" name="cpf" required><br>
	endereco		<input type="text" 		value="" name="endereco"><br>
	bairro			<input type="text" 		value="" name="bairro"><br>
	cidade			<input type="text" 		value="" name="cidade"><br>
	uf				<input type="text" 		value="" name="uf"><br>
	cep				<input type="text" 		value="" name="cep"><br>
	telefone		<input type="text" 		value="" name="telefone"><br>
	
	<input type="submit" value="Enviar">


</form>

</body>
   <!-- Start Footer  -->
    <jsp:include page = "footer.jsp" />
    <!-- End Footer  -->
</html>